.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  padding: 20px;

  .section {
    width: 45%;

    .title {
      font-weight: 500;
    }

    .list {
      list-style: square;

      .item {
        line-height: 1.8;
        color: rgb(202, 202, 202);
      }
    }
  }
}
