.sidebar_container {
    background:#000000;
    min-height: 100vh;
    max-height: 100vh;
    color: #eee;
    padding: 0px 40px;

    .sidebar_licence{
        margin-top: 80px;
        font-style: italic;
        font-weight: 100;
    }
}

