.about_infoJob {
  margin: 0;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(224, 224, 224, 0.9);
}

.about_infoDesc {
  opacity: 0.9;
  font-size: 0.9rem;
  line-height: 1.7;
  padding: 20px 0;
  color: rgb(180, 173, 173);
  border-top: 1px solid #2e2c2c;
  border-bottom: 1px solid #2e2c2c;
}
